<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Header"><app-quote-header></app-quote-header></mat-tab>
    <mat-tab label="Quote"> <app-quote-info></app-quote-info></mat-tab>
    <mat-tab label="Customer"> <app-customer></app-customer></mat-tab>
    <mat-tab label="Opportunity"><app-opportunity></app-opportunity></mat-tab>
    <mat-tab label="Contact"><app-contact></app-contact></mat-tab>
</mat-tab-group>

<div class="form-group">
    <button   type="button" class="btn btn-primary button_example" (click)="addEquipment(null, null)">
      <i class="fa fa-plus"></i> Add Equipment
    </button> 
</div>
<mat-accordion multi="true">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <pre> Serial No  Stock No Model: 130G Unit No</pre>
      </mat-panel-title>
      <mat-panel-description>
        Equipment summary content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>PM7   $1000   4  $4000</pre>
    <pre>PM_250  $523.73 1  $523.73</pre>
    <pre>PM_500  $798.16 1  $798.16</pre>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <pre> Serial No Stock No Model: W530 Unit No</pre>
      </mat-panel-title>
      <mat-panel-description>
        Equipment summary content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>PM1  $1000   2  $2000</pre>
    <pre>PM2  $600.73 1  $600.73</pre>
    <pre>PM3  $84     1  $84</pre>
  </mat-expansion-panel>
</mat-accordion>

  
 