<h3>Contact Information</h3>

<form [formGroup]="contactForm">
  <div class="row">
    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <input matInput type="text" formControlName="type" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput type="text" formControlName="phoneNo" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Mobile</mat-label>
          <input matInput type="text" formControlName="mobileNo" />
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="row">
   

   
  </div>

  <div class="row">
    <div class="form-group col-md-1 offset-md-11">
      <button
        class="button_example"
        mat-button
        mat-flat-button
        color="primary"
        (click)="contactSubmit()"
      >
      <i class="fa fa-database"></i>
        Save
      </button>
    </div>
  </div>
</form>
