<div class="container">
  <div class="button-row mb-3 mt-2">
    <button
      class="button_example"
      mat-button
      mat-flat-button
      color="primary"
      (click)="addEvent()"
    >
      <i class="fa fa-plus"></i>
      Add Manual Event
    </button>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <mat-table
          [dataSource]="packageSource"
          formArrayName="packages"
          class="mat-elevation-z8"
        >
          <!-- Row definitions -->
          <mat-header-row *matHeaderRowDef="packageColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; let i = index; columns: packageColumns"
          ></mat-row>

          <ng-container matColumnDef="packageName">
            <mat-header-cell *matHeaderCellDef>Package Name</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              {{ row.value.packageName }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              {{ row.value.description }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="events">
            <mat-header-cell *matHeaderCellDef>Events</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              {{ row.value.events }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="occurences">
            <mat-header-cell *matHeaderCellDef>Occurences</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              {{ row.value.occurences }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="warnings">
            <mat-header-cell *matHeaderCellDef>Warnings</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.warnings }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.actions }}
            </mat-cell>
          </ng-container>
        </mat-table>
      </div>
      <div class="col-md-6">
        <mat-table
          [dataSource]="eventSource"
          formArrayName="events"
          class="mat-elevation-z8"
        >
          <!-- Row definitions -->
          <mat-header-row *matHeaderRowDef="eventColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; let i = index; columns: eventColumns"
          ></mat-row>

          <!-- Column definitions -->
          <ng-container matColumnDef="event">
            <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              <mat-form-field appearance="standard">
                <input matInput type="text" formControlName="event" />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="costPerOccurence">
            <mat-header-cell *matHeaderCellDef
              >Cost Per Occurence</mat-header-cell
            >
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              <mat-form-field appearance="standard">
                <input
                  matInput
                  type="text"
                  formControlName="costPerOccurence"
                />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="occurences">
            <mat-header-cell *matHeaderCellDef>Occurences</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              <mat-form-field appearance="standard">
                <input matInput type="number" formControlName="occurences" />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="frequency">
            <mat-header-cell *matHeaderCellDef>Frequency</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              {{ row.value.frequency }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell
              *matCellDef="let row; let index = index"
              [formGroupName]="index"
            >
              {{ row.value.price }}
            </mat-cell>
          </ng-container>
        </mat-table>
      </div>
    </div>
  </form>
</div>
