<div class="row">
  <div class="col-md-3">
    <table class="table">
      <th>
        <tr>
          <td>test</td>
        </tr>
      </th>
      <tbody>
        <tr>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-9">
    <form [formGroup]="addEquipmentEventsForm">
      <table class="table">
        <th>
          <tr>
            <td>test</td>
          </tr>
        </th>
        <tbody>
          <tr>
            <td>test</td>
          </tr>
          <tr>
            <td>test</td>
          </tr>
          <tr>
            <td>test</td>
          </tr>
        </tbody>
      </table>

      <div class="well">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type="button" class="btn btn-primary" (click) ="addEventsButtonClick()" >Add Manual Event</button>
          </div>
        </div>

        
      <div formArrayName="events" *ngFor="let event of addEquipmentEventsForm.get('events')['controls']; let i= index ">
          <div [formGroupName]="i">
            <div class="mb-3">
              <mat-form-field appearance="standard">
                <mat-label>selected</mat-label>
                <input matInput type="text" formControlName="selectedEvent"  id="selectedEvent + i " />
              </mat-form-field>
            </div>


          </div>


      </div>

      </div>

    </form>
    
  </div>
</div>
