.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
legend {
  float: none;
  padding: 0 5px;
  width: auto;
}
fieldset {
  border: 1px solid black;
  box-sizing: border-box;
  grid-area: 1 / 1;
  padding: 20px;
  width: inherit;
}

mat-form-field {
  width: 100%;
}
.contract > div > div {
  align-items: center;
}

.contract-row > div > div {
  align-items: center;
}

.label-row {
  min-height: 70.13px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.button-row > button {
  margin-left: 1em;
}

.contract > span {
  font-weight: 700;
}
