<button mat-raised-button (click)="isEditable = !isEditable">
  {{ !isEditable ? 'Enable edit mode' : 'Disable edit mode' }}
</button>

<mat-horizontal-stepper linear #stepper>
  <mat-step label="Quote Header" [stepControl]="" [editable]="isEditable">
   <app-quote-header></app-quote-header>
  </mat-step>
  <mat-step label="Quote" [stepControl]="" [editable]="isEditable">
    <app-quote-info></app-quote-info>
  </mat-step>
  <mat-step label="Customer" [stepControl]="" [editable]="isEditable">
    <app-customer></app-customer>
  </mat-step>
  <mat-step label="Opportunity" [stepControl]="" [editable]="isEditable">
    <app-opportunity></app-opportunity>
  </mat-step>
  <mat-step label="Contact" [stepControl]="" [editable]="isEditable">
    <app-contact></app-contact>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button mat-flat-button color="primary" matStepperPrevious>
        Back
      </button>
      <button
        mat-button
        mat-flat-button
        color="primary"
        (click)="stepper.reset()"
        class="mr-2"
      >
        Reset
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>



