<button mat-raised-button (click)="isEditable = !isEditable">
  {{ !isEditable ? 'Enable edit mode' : 'Disable edit mode' }}
</button>

<mat-horizontal-stepper linear #stepper>
  <mat-step label="Quote Header" [stepControl]="" [editable]="isEditable">
    <form [formGroup]="quoteService.quoteFormOverview" (submit)="onSumbit()">
      <div class="row">
        <h3>Quotes</h3>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Quote No</mat-label>
              <input matInput type="text" formControlName="quoteNo" />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Owner</mat-label>
              <input matInput type="text" formControlName="owner" />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Orignator</mat-label>
              <input matInput type="text" formControlName="orignator" />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput type="text" formControlName="description" />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <button
            class="button_example"
            mat-button
            mat-flat-button
            color="primary"
            (click)="addOrEditEvents(null, null)"
          >
            Save
          </button>
        </div>
      </div>
      <div class="row">
        <h3>OED MECHANICAL SERVICES INC(1753320)</h3>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>PhoneNo</mat-label>
              <input matInput type="text" formControlName="phoneNo" />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>PO No</mat-label>
              <input matInput type="text" formControlName="PONo" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <h3>Totals: Revision 2</h3>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Total</mat-label>
              <input matInput type="text" formControlName="total" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Total Discount</mat-label>
              <input matInput type="text" formControlName="totalDiscount" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Grand Total</mat-label>
              <input matInput type="text" formControlName="grandTotal" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button
          class="button_example"
          mat-button
          mat-flat-button
          color="primary"
          (click)="addOrEditEvents(null, null)"
        >
          Save1
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Quote" [stepControl]="" [editable]="isEditable">
    <app-quote-info></app-quote-info>
  </mat-step>
  <mat-step label="Customer" [stepControl]="" [editable]="isEditable">
    <app-customer></app-customer>
  </mat-step>
  <mat-step label="Opportunity" [stepControl]="" [editable]="isEditable">
    <app-opportunity></app-opportunity>
  </mat-step>
  <mat-step label="Contact" [stepControl]="" [editable]="isEditable">
    <app-contact></app-contact>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button mat-flat-button color="primary" matStepperPrevious>
        Back
      </button>
      <button
        mat-button
        mat-flat-button
        color="primary"
        (click)="stepper.reset()"
        class="mr-2"
      >
        Reset
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div class="form-group">
  <button type="submit" class="btn btn-dark">
    <i class="fa fa-database"></i> Submit
  </button>
  <a class="btn btn-outline-dark ml-1" routerLink="/orders"
    ><i class="fa fa-table"></i> View Orders</a
  >
</div>
<div class="form-group">
  <button class="button_example2" mat-flat-button color="primary">Save</button>
</div>
