<h3>Opportunity Information</h3>

<form [formGroup]="opportunityForm">
  <div class="row">
    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="standard">
          <mat-label>Opportunity No</mat-label>
          <input matInput type="text" formControlName="oppNo" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="standard">
          <mat-label>Estimated Delivery</mat-label>
          <input matInput type="text" formControlName="estDelivery" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="standard">
          <mat-label>Prob Closing</mat-label>
          <input matInput type="text" formControlName="probClosing" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="standard">
          <mat-label>Source</mat-label>
          <input matInput type="text" formControlName="source" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="mb-3">
        <mat-form-field appearance="standard">
          <mat-label>Commodity</mat-label>
          <input matInput type="text" formControlName="commodity" />
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="row">
   
   
  </div>
  <div class="row" *ngIf="!quoteService.hideButton">
    <div class="form-group col-md-1 offset-md-11">
      <button
        class="button_example"
        mat-button
        mat-flat-button
        color="primary"
        (click)="opportunitySubmit()"
      >
      <i class="fa fa-database"></i>
        Save
      </button>
    </div>
  </div>
</form>
